################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GRASP/Debug
/GRASP/x64/Release
/.vs
/GRASP/GRASP.vcxproj.user
/GRASP/GRASP.vcxproj.filters
/GRASP/GRASP.vcxproj
/Instance/tsp.pcb3038.p500.txt
/Instance/tsp.pcb3038.p50.txt
/Instance/tsp.pcb3038.p450.txt
/Instance/tsp.pcb3038.p400.txt
/Instance/tsp.pcb3038.p40.txt
/Instance/tsp.pcb3038.p350.txt
/Instance/tsp.pcb3038.p300.txt
/Instance/tsp.pcb3038.p30.txt
/Instance/tsp.pcb3038.p250.txt
/Instance/tsp.pcb3038.p200.txt
/Instance/tsp.pcb3038.p20.txt
/Instance/tsp.pcb3038.p150.txt
/Instance/tsp.pcb3038.p100.txt
/Instance/tsp.pcb3038.p10.txt
/VWTS/VWTS/VWTS.vcxproj
/VWTS/VWTS/VWTS.vcxproj.filters
/VWTS/VWTS/VWTS.vcxproj.user
/VWTS/x64/Release
/VWTS/Debug
/VWTS/VWTS.vcxproj.user
/VWTS/VWTS.vcxproj.filters
/VWTS/VWTS.vcxproj
